.header {
  //Hamburger Open styles
  &.open {
    .overlay {
      display: block;
    }
    .header__toggle {
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  .overlay {
    opacity: 0;
    position: fixed;
    top: 3.75rem;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-image: linear-gradient($darkBlue, transparent);
  }

  &__logo {
    img {
      width: 8.8125rem;
      height: 1.375rem;
    }
  }
  nav {
    padding-top: 1.0625rem;
    padding-bottom: 1.0625rem;
  }

  &__toggle {
    //mobile menu
    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $darkBlue;
      transition: all 300ms ease-in-out;
      transform-origin: 3px 1px;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  &__menu {
    background: $white;
    padding: 1.625rem;
    margin: 0 1.5rem;
    border-radius: 0.375rem;
    width: calc(100% - 3rem);
    transform: translateY(1.5rem);
    margin: 0 1.5rem;
    a {
      padding: 0.625rem;
      color: $darkBlue;
      display: block;
      text-align: center;
    }
  }
  &__links {
    a {
      font-size: $font-sm;
      color: $grayishBlue;
      transition: color 300ms ease-in-out;
      position: relative;
      &:not(:last-child) {
        margin-right: 2rem;
      }

      &::before {
        content: " ";
        display: block;
        position: absolute;
        height: 5px;
        left: 0;
        right: 0;
        bottom: -30px;
        background: linear-gradient(to right, $limeGreen, $brightCyan);
        opacity: 0;
        transition: opacity 300ms ease-in-out;
      }

      &:hover {
        color: $darkBlue;
        &::before {
          opacity: 1;
        }
      }
    }
  }

  &__cta {
    font-size: $font-sm;
    color: $white;
    transition: opacity 300ms ease-in-out;

    &:hover {
      opacity: 0.75;
    }
  }
}
